<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
	</head>

	<body>

		<div class="header">
			<div class="back">
				<a href="javascript:history.go(-1);">
					<i class="fa fa-angle-left fa-2x">
					</i>
				</a>
			</div>
			<div class="title">
				<span id="title">
				亲，稍等哟
				</span>
			</div>
			<div class="place">
				<a href="">
					<i class="fa fa-refresh fa-2x">
					</i>
				</a>
			</div>
		</div>

			<div class="panel panel-danger">
				<div class="panel-heading">
				<h3 class="panel-title">关于新功能正在准备的通知：</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item">1:二手图书（闲置教材）交易系统将于四月下旬上线。</li>
					<li class="list-group-item">2:二手市场将于5月下旬上线。</li>
					<li class="list-group-item">3:已经开放的系统的有：帮取快递，帮打水，帮代做东西，帮代买物品，帮带饭，以及其它合理的事情，希望君发的单都有人能接。</li>
				</ul>
			</div>

		<script src="__STATIC__/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="__STATIC__/jquery-2.0.3.min.js" type="text/javascript"></script>
	</body>

</html>
