<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<div class="header">
			<div class="back">
				<a href="javascript:history.go(-1);">
					<i class="fa fa-angle-left fa-2x">
					</i>
				</a>
			</div>
			<div class="title">
				<span id="title">
					用户使用协议
				</span>
			</div>
			<div class="place">
				<a href="">
				</a>
			</div>
		</div>
		<!--<div class="head">
		</div>-->
		<!-- <iframe src="__STATIC__/nav/userfile.pdf" style="width:100%; height:auto;" frameborder="0"></iframe> -->
		<object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" width="760" height="411" border="0">


		      <param name="_Version" value="65539">


		      <param name="_ExtentX" value="20108">


		      <param name="_ExtentY" value="10866">


		      <param name="_StockProps" value="0">


		      <param name="SRC" value="__STATIC__/nav/userfile.pdf">


		</object>
		<script src="__STATIC__/kindeditor/kindeditor-min.js" type="text/javascript"></script>
		<script src="__STATIC__/kindeditor/zh_CN.js" type="text/javascript"></script>
		<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
		<script src="__STATIC__/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js">
		</script>
	</body>

</html>
