<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>发单列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
备注:点击操作时候,点击数字设置 0=>“屏蔽该条单”,1=>“刚发布”,2=>“被抢啦”,3=>“已送达”,4=>“已接单”。
		</div>
		<!-- 高级搜索 -->
	</div>
	<!-- 数据列表 -->
	<div class="data-table table-striped">
		<table class="">
			<thead>
				<tr>
					<th class="">ID</th>
					<th class="">发单人</th>
					<th class="">接单人</th>
					<th class="">时间</th>
					<th class="">此单内容</th>
					<th class="">学校</th>
					<th class="">送达地址</th>
					<th class="">跑路费</th>
					<th class="">状态</th>
					<th class="">操作(选择下列状态)</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="_list">
					<volist name="_list" id="vo">
						<tr>
							<td>{$vo.id} </td>
							<td>{$vo.mobile}</td>
							<td>{$vo.receive}</td>
							<td>{$vo.time|time_format}</td>
							<td><span>{$vo.content}</span></td>
							<td><span>{$vo.school}</span></td>
							<td><span>{$vo.address}</span></td>
							<td><span>{$vo.sum}元</span></td>

							<td>
								<if condition="$vo['status'] eq 0 "> <span >被屏蔽了(0)
											</span>
									<elseif condition="$vo['status'] eq 1 " /><span>刚发布(1)
											</span>
									<elseif condition="$vo['status'] eq 2 " /><span>被抢啦(2)
											</span>
									<elseif condition="$vo['status'] eq 3 " /><span>已送达(3)
											</span>
									<else /><span>已结单(4)
											</span>
								</if>
							</td>


							<td>
									<a href="{:U('Bill/status',array('id'=>$vo['id'],'status'=>0))}">0</a>
									<a href="{:U('Bill/status',array('id'=>$vo['id'],'status'=>1))}">1</a>
									<a href="{:U('Bill/status',array('id'=>$vo['id'],'status'=>2))}">2</a>
									<a href="{:U('Bill/status',array('id'=>$vo['id'],'status'=>3))}">3</a>
									<a href="{:U('Bill/status',array('id'=>$vo['id'],'status'=>4))}">4</a>
							</td>
						</tr>
					</volist>
					<else/>
				</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
		{$_page}
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
		//搜索功能
		$("#search").click(function() {
			var url = $(this).attr('url');
			var query = $('.search-form').find('input').serialize();
			query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
			query = query.replace(/^&/g, '');
			if (url.indexOf('?') > 0) {
				url += '&' + query;
			} else {
				url += '?' + query;
			}
			window.location.href = url;
		});
		//回车搜索
		$(".search-input").keyup(function(e) {
			if (e.keyCode === 13) {
				$("#search").click();
				return false;
			}
		});
		//导航高亮
		highlight_subnav('{:U('
			User / index ')}');
	</script>
</block>
